.row
  .col-xs-12.col-lg-10.col-lg-offset-2.text-left
    - if @static_page
      %h1.pageTitle
        = @static_page.name.html_safe
      %p
        - if @static_page.present? and @static_page.content.present?
          = @static_page.content.html_safe
    - else
      %h1.pageTitle
        = I18n.t("page_not_found.text_h1")
