= render partial: 'admins/dashboard/sidebar'
.row
  .col-lg-8.main
    .row
      %ol.breadcrumb
        %li
          %a{:href => "/admins/home"}
            %span.glyphicon.glyphicon-home{"aria-hidden" => "true"}
        %li.active= @user.class
    .row
      .col-lg-12
        .panel-info
          .panel-heading
            New User
          .panel-body
            = render 'new_form'