%p
  Hello #{@resource.email}!
%p= I18n.t("general.request_to_change_password")
%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
%p= I18n.t("general.ignore_email")
%p Your password won't change until you access the link above and create a new one.
